@use "../base/base";

.hangman {
    display: flex;
    flex-direction: column;
    place-items: center;
  
    gap: 0.2em;
    max-width: 100%;
    
    &__word {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      
      font-family: var(--ff-accent);
      font-size: var(--fs-h3);
      font-weight: 600;
    
      margin-block-end: 1rem;
      color: var(--col-black);

      &__segment {
        display: block;
        width: max-content;
        margin: 0.2em 0.5rem;

        &__letter {
          display: inline-block;
          padding-inline: 0.1em;
          text-align: center;
          margin-inline: 0.25em;
          border-bottom: solid var(--col-black) 0.1em;
          width: 0.75em;
        }
      }
    }

    &__image {
      display: flex;
      align-items: center;
      width: 8rem;

      &__container {
        width: 100%;
      }
    }

    &__info {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;
      width: min(20rem, 100%);
      padding-inline: 1em;
      
      &__guesses-left {
        color: var(--col-grey);
        font-size: var(--fs-body-2);
        font-weight: 500;
        font-style: italic;
      }

      &__reset {
        position: relative;

        background-color: var(--col-negative--darker);

        font: 600 var(--fs-button-1)/1 var(--ff-accent);
        width: 5em;
        height: 2em;
        margin: 0.2em;

        border: none;
        border-radius: 0.7em;

        /* Top of the button */
        &::before {
          content: 'Reset';
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          inset: 0 0;

          width: inherit;
          height: inherit;

          border-radius: inherit;

          background-color: var(--col-negative);
          color: var(--col-primary);

          transform: translateY(-0.2em);
          transition-duration: 150ms;
          transition-delay: 200ms;
          transition-timing-function: cubic-bezier(0.65, 0, 0.4, 0.8);
        }

        &:active::before {
          filter: brightness(80%) saturate(120%);
          transform: translateY(-0.07em);
          transition-duration: 150ms;
          transition-delay: initial;

          background-color: var(--col-negative);
        }
      }    
    }

    &__keys {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      width: min(35rem, 100vw);
      padding-block: 1em 1.25em;

      background-color: var(--col-secondary);
      border-radius: 0.4em;

      &__row {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 1.5%;
        width: 100%;
        
        & .key {
          --border: solid 0.15em var(--col-secondary--darker);
          display: inline-flex;
          flex: 1 1 100%;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          background-color: var(--col-secondary--lighter);
          color: var(--col-secondary--darker);

          border: none;
          border-bottom: var(--border);
          border-radius: 0.3em;

          font: 700 var(--fs-button-2)/1 var(--ff-accent);

          padding: 0.2em 0.4em;
          max-width: 8%;
          height: 2.75em;

          transition-property: border filter;
          transition: 100ms ease-out 0s;

          &[data-clicked=incorrect] {
            color: var(--col-negative, red);
          }
          
          &[data-clicked=correct] {
            color: var(--col-positive, lime);
          }
          
          &:disabled {
            filter: brightness(80%) saturate(120%);
            border-top: var(--border);
            border-bottom-width: 0em;
          }

          &:focus-visible {
            filter: brightness(110%) saturate(90%);
          }
        }
      }
    }
  }
  
  
  
  
  
  
  
  