@use "../base/base";

.hangman {
    display: flex;
    flex-direction: column;
    place-items: center;
  
    gap: 0.2em;
    max-width: 100%;
    margin-block: 3rem;

    &__image {
      width: 8rem;
    }
    
    &__word {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      
      font-family: var(--ff-accent);
      font-size: var(--fs-h3);
      font-weight: 600;
    
      margin-block-end: 1rem;

      &__segment {
        display: block;
        width: max-content;
        margin: 0.2em 0.5rem;

        &__letter {
          display: inline-block;
          padding-inline: 0.1em;
          text-align: center;
          margin-inline: 0.25em;
          border-bottom: solid black 0.1em;
          width: 0.75em;
        }
      }
    }

    &__guesses-left {
      font-size: var(--fs-body-2);
      color: var(--primary-light-1);
      font-weight: 400;
      font-style: italic;
    }
    
    &__keys {
      --board-background: hsl(0, 0%, 91%);
      --key-background: hsl(0, 0%, 98%);
      --key-background--disabled: hsl(0, 0%, 94%);
      --key-background--focus: hsl(0, 0%, 96%);
      --key-border: hsl(0, 0%, 80%);
      --key-colour: hsl(0, 0%, 35%);

      display: flex;
      flex-direction: column;
      gap: 0.75em;
      width: min(30rem, 100vw);
      padding-block: 0.75em 1em;

      background-color: var(--board-background);
      border-radius: 0.25em;

      &__row {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 1.5%;
        width: 100%;
        
        & .key {
          display: inline-flex;
          flex: 1 1 100%;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          background-color: var(--key-background);
          color: var(--key-colour);

          border: none;
          border-bottom: solid 0.15em var(--key-border);
          border-radius: 0.25em;

          font-size: var(--fs-button-2);
          font-weight: 600;
          font-family: var(--ff-accent);

          padding: 0.2em 0.4em;
          max-width: 8%;
          height: 2.3em;

          transition: border 100ms ease-out;

          &[data-clicked=incorrect] {
            color: red;
          }
          
          &[data-clicked=correct] {
            color: limegreen;
          }
          
          &:disabled {
            background-color: var(--key-background--disabled);
            border-bottom-width: 0em;
          }

          &:focus {
            background-color: var(--key-background--focus);
          }
        }
      }
    }
    &__past-guesses {
      display: flex;
      flex-basis: auto;
      margin-top: 1rem;
      width: 70%;
      gap: 1rem;
      flex-flow: row wrap;
      justify-content: center;

      &__guess {
        width: 2em;
        padding-block: 0.1em;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        place-items: center;
        font-size: var(--fs-body-1);
      
        border-radius: 0.5em;
        background: var(--highlight);
        opacity: 0.8;

        &--incorrect {
          text-decoration: line-through;
          background-color: var(--primary-light-1);
        }
      }
    }
  }
  
  
  
  
  
  
  
  