@use "../base/colour";
@use "../base/fonts";

body {
    background-color: var(--col-primary);
    font-family: var(--ff-primary);
    color: var(--col-black);
    max-width: 100vw;
}

.holder {
    display: grid;
    
    height: 100vh;
    max-height: 100vh;
    width: min(70rem, 100vw);
    max-width: 100%;
    
    margin: 0 auto;
    
    grid-template-areas: "header header"
                         "image image"
                         "info info"
                         "word word"
                         "keys keys";
    grid-auto-rows: auto minmax(0, 1fr) auto auto auto;
    grid-auto-columns: minmax(0, 1fr) auto;
    gap: 1rem;
    justify-content: center;
    justify-items: center;

    @media screen and (orientation: landscape) {
        grid-template-areas: "header header" "image info" "image word" "image keys";
        grid-auto-rows: auto auto minmax(0, 1fr) auto;
        align-items: center;
    }
}