@use "../base/colour";
@use "../base/fonts";

body {
    background-color: var(--col-primary);
    font-family: var(--ff-primary);
    color: var(--col-black);
    max-width: 100vw;
}

.holder {
    display: grid;
    
    height: 100vh;
    max-height: 100vh;
    width: min(70rem, 100vw);
    max-width: 100%;
    
    margin: 0 auto;
    
    grid-template-areas: "header header"
                         "image image"
                         "reset reset"
                         "word word"
                         "keys keys";
    grid-auto-rows: auto minmax(0, 1fr) auto auto auto;
    grid-auto-columns: 1fr minmax(0, 2fr);
    gap: 1rem;
    justify-content: center;
    justify-items: center;

    @media screen and (orientation: landscape) {
        grid-template-areas: "header header" "image reset" "image word" "image keys";
        grid-auto-rows: auto auto minmax(0, 1fr) auto;
        align-items: center;

        @media (max-height: 500px) {
            grid-template-areas: "header reset" "image word" "image keys";
            grid-auto-rows: auto minmax(0, 1fr) auto;
        }

        @media (min-height: 600px) {
            padding-block-end: 1em;
        }
    }
}