@use "../base/base";

.word {
	grid-area: word;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	height: max-content;
	width: min(35rem, 100%);

	font: 600 var(--fs-h3)/1 var(--ff-accent);

	color: var(--col-black);

	&__segment {
		width: max-content;
		margin: 0.2em 0.5em;

		&__letter {
			text-align: center;
			width: 0.75em;
			padding-inline: 0.1em;
			margin-inline: 0.25em;
			border-bottom: solid var(--col-black) 0.1em;
		}
	}
}