@use 'fonts';
@use 'colour';

:root {
  --fs-h1: 2.75rem;
  --fs-h2: 1.4rem;
  --fs-h3: 1.1rem;
  --fs-body-1: 1rem;
  --fs-body-2: 0.9rem;
  --fs-button-1: 1.3rem;
  --fs-button-2: 1rem;

  --body-width: min(50rem, 100vw);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--ff-accent);
  font-size: var(--fs-h1);
  letter-spacing: -0.025em;
  font-weight: 700;
}

button {
  cursor: pointer;
}

svg {
  max-height: 100%;
  max-width: 100%;
}