@use 'fonts';
@use 'colour';

:root {
  --fs-h1: 2.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 0.9rem;
  --fs-button-1: 1.3rem;
  --fs-button-2: 1rem;

  --body-width: min(50rem, 100vw);

  @media screen and (min-width: 700px) and (min-height: 700px) {
    --fs-h1: 3.5rem;
    --fs-h3: 1.75rem;
    --fs-button-1: 1.65rem;
    --fs-button-2: 1.35rem;
    --fs-body: 1.4rem;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--ff-accent);
  font-size: var(--fs-h1);
  letter-spacing: -0.025em;
  font-weight: 700;
}

button {
  cursor: pointer;
}

svg {
  max-height: 100%;
  max-width: 100%;
}